@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&family=Montserrat:wght@400;700&display=swap');

.header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 20px 70px 25px 70px;
}
.logo-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}
.hamburger-btn {
  display: none;
}

.logo {
  width: 36px;
  height: 36px;
}
.logo-header-name {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-style: Extra Bold;
  font-size: 36px;
  text-align: center;
}
.header-icons-container {
  list-style-type: none;
  display: flex;
  gap: 15px;
}
.button-icons {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.select-lan {
  font-weight: bold;
  color: black;
  cursor: pointer;
}
.header-icons {
  height: 24px;
  width: 24px;
}
.nav-bar {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.nav-item {
  color: #252020;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header {
    margin: 10px;
  }
  .logo-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .hamburger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .hamburger-icon {
    display: block;
    width: 20px;
    height: 20px;
  }
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 80%;
    background-color: white;
    border-top: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .dropdown-item {
    padding: 15px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #252020;
    border-bottom: 1px solid #f0f0f0;
    font-size: 12px;
  }

  .dropdown-item:hover {
    background-color: #f8f8f8;
    color: #ff6600;
  }
  .logo {
    height: 20px;
    width: 20px;
  }
  .logo-icons-container {
    display: flex;
    gap: 10px;
  }
  .header-icons-container {
    gap: 0px;
  }
  .header-icons {
    height: 20px;
    width: 20px;
  }
  .logo-header-name {
    font-size: 20px;
  }
  .person-icon {
    display: none;
  }
  .select-lag-sec {
    display: none;
  }
  .nav-bar {
    display: none;
  }
}
