@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&family=Montserrat:wght@400;700&family=Cormorant+Garamond:wght@400;700&display=swap');

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 462px;
  gap: 25px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
}
.product-image {
  width: 300px;
  height: 350px;
}
.product-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  text-transform: uppercase;
}
.sign {
  text-decoration: underline;
}
.sign-in {
  font-size: 14px;
  color: #888792;
}
.header-icons {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.product-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.product-data {
  width: 200px;
}
.liked {
  color: #e63946;
}
@media screen and (max-width: 820px) {
  .product-card {
    width: 168px;
    min-height: 277px;
    margin-bottom: 10px;
  }
  .product-image {
    width: 168px;
    height: 200px;
  }
  .product-data {
    width: 140px;
  }
  .product-title {
    font-size: 14px;
  }
  .sign-in {
    font-size: 10px;
  }
  .header-icons {
    height: 20px;
    width: 20px;
  }
}
