.product-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 35px;
}
@media screen and (max-width: 820px) {
  .product-grid {
    gap: 10px;
  }
}
